   
<% if !@messages.blank? %>

<div style="width:960px; margin-left:10%; overflow: hidden;">

    <% @messages.each do |num| %>
        
        <% @image_paths = Image.where(:message_id => num) %>

        <% if !@image_paths.blank? %>
        
            <div class="blog_post_with_image">
                
            <%= image_tag @image_paths[0]['image_path'], :class => 'image_size' %>

                <div><h4><%= link_to num['title'], mess_path(num), :class => 'link_blog_decoration'%></h4></div>
                <div><%= num['created_at'].strftime("%B %-d, %Y") %></div>
                
            </div>

        <% else %>

        <div class="blog_post_without_image">

            <div><h4><%= link_to num['title'], mess_path(num[:id]), :class => 'link_blog_decoration'%></h4></div>
            <div><%= num['created_at'].strftime("%B %-d, %Y") %></div>
        </div>

        <% end %>

    <% end %>

</div> 
       
<% else %> 

    <h2>There are no blog posts!, Make the first one!</h2>

<% end %>

